
@media screen and (max-width: 1199px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }

    .nav {
        width: 100%; 
    }

    .avatars {
        width: 30%;
        height: 55vh;
    }

    .titles h1 {
        width: 90%;
    }

    .menu {
        padding: 45px 0 45px 0;
    }

    .menu li {
        width: 110%;
    }

    .title-english p {
        width: 30%;
    }
    .title-english h2 {
        width: 25%;
    }

    .title-work h2 {
        width: 30%;
    }

    .title-english h2 {
        width: 40%;
        padding: 0 20px 20px 0;
    }

    .title-contact h2 {
        width: 20%;
        padding: 0 20px 20px 0;
    }
}








@media screen and (max-width: 991px) {
    .container {
        width: 85%;
        margin: 0 auto;
    }

    .nav {
        width: 106%;
    }

    .avatars {
        width: 35%;
        height: 55vh;
    }

    .titles__first {
        width: 80%;
    }

    .titles h1 {
        width: 100%;
        font-size: 55px;
    }

    .title-info h2 {
        width: 60%;
    }

    .title-info p {
        width: 90%;
        padding: 0 30px;
        margin-top: 15px;
        color: #ffff;
        line-height: 3.0em;
        font-style: italic;
    }
    
    .title ol {
        width: 100%;
    }

    .title-code h2 {
        width: 30%;
    }

    .adapt {
        width: 100%;
    }

    .title-work h2 {
        width: 40%;
    }

    .work__project .work-item {
        width: 35%;
    }
    
    .work__project .work-item h3 {
        font-size: 18px;
        padding-top: 18px;
    }

    .work__project .work-item p {
        padding-top: 18px;
        padding-bottom: 25px;
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
    }

    .title-english h2 {
        width: 40%;
        padding: 0 20px 10px 0;
    }

    .title-contact h2 {
        width: 20%;
        padding: 0 20px 10px 0;
    }
    
    .title-english p {
        width: 40%;
    }

}







@media screen and (max-width: 767px) {
    .container {
        width: 75%;
        margin: 0 auto;
    }

    .avatars {
        margin: 50px 0 30px 0;
        width: 55%;
        height: 10vh;
        box-shadow: none;
    }

    .titles {
        display: flex;
    }

    .titles__first {
        display: none;
        
    }

    .titles h1 {
        cursor: default;
        width: 80%;
        margin-top: 80px;
        font-size: 16px;
        line-height: 1.0em;
    }

    #information {
        display: none;
    }

    .title-code h2 {
        width: 60%;
    }

    .adapt {
        width: 100%;
    }

    .title-work h2 {
        width: 80%;
    }

    .work__project .work-item {
        border-radius: 50%;
        width: 35%;
    }
    
    .work__project .work-item h3 {
        font-size: 14px;
        padding-top: 18px;
    }

    .work__project .work-item p {
        padding-top: 16px;
        padding-bottom: 25px;
        font-size: 14px;
        width: 100%;
        margin: 0 auto;
    }

    .icon__pro--museum {
        border-radius: 50%;
        width: 100%;
        height: 10vh;
    }
    
    .icon__pro--momentum {
        border-radius: 50%;
        width: 100%;
        height: 10vh;
    }
    
    .icon__pro--keyboard {
        border-radius: 50%;
        width: 100%;
        height: 10vh;
    }
    .nav {
        display: none;
    }
    
    .default__menu {
        display: block;
        position: fixed;
        width: 100%;
        height: 50px;
        background-color: #ffff85;
    }
    .menu__btn {
        display: flex; 
        align-items: center;
        position: fixed;
        top: 20px;
        left: 330px;
        width: 28px;
        height: 28px;
        cursor: pointer;
        z-index: 2;
    }
    /* добавляем "гамбургер" */
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: relative;
        width: 100%;
        height: 2px;
        background-color: #380066;
    }
    .menu__btn > span::before {
        position: relative;
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        position: relative;
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 100%;
        width: 300px;
        height: 800px;
        margin: 0;
        padding: 50px 0;
        list-style: none;
        text-align: center;
        background-color: #802e88;
        box-shadow: 0 5px 6px rgba(0, 0, 0, .2);
    }

    .menu__box li a {
        color: #ffff85;
    }
    .menu__box li  {
        padding: 15px 0 ;
    }
    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #802e88;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    transition-duration: .25s;
    }
    .menu__box {
    transition-duration: .25s;
    }
    .menu__item {
    transition-duration: .25s;
    }
    
}










@media screen and (max-width: 575px) {

}











@media( max-width: 640px) {

}


