html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    background-color: #ffff85;
    font-size: 16px;
    color: #802e88;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

.container {
    width: 1190px;
    margin: 0 auto;
}

.nav {
    width: 90%;
    display: block;
    margin: 0 auto;
    position: fixed;
    background-color: #ffff85;
    height: 80px;
    margin: 0 auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.nav__none {
    width: 90%;
    display: block;
    margin: 0 auto;
    position: fixed;
    height: 80px;
    margin: 0 auto;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
    background-color: #1D262D;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 0 45px 0;
}

.menu li {
    display: block;
    list-style: none;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.btn__menu {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: 'Merriweather', serif;
    color: #380066;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.5s;
}

.btn__menu__black {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: 'Merriweather', serif;
    color: #f8f0e4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.5s;
}


.menu a:after {
    display: block;
    content: "";
    background-color: #443d44;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.menu a:hover:after,
.menu a:focus:after {
    width: 100%;
}

.titles {
    text-align: center;
    padding-top: 125px;
}

.avatars {
    margin: 0 auto;
    background-image: url("./assets/img/my_foto.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 25%;
    height: 40vh;
    box-shadow: 0px 0px 10px #443d44;
    transition: 2s;
}

.avatars:hover {
    box-shadow: 0px 15px 90px #443d44;
}

.titles__first {
    cursor: default;
    margin: 0 auto;
    width: 50%;
    margin-top: 25px;
    font-family:'Grechen Fuemen', cursive;
    font-size: 47px;
    color: #802e88;
}
.titles__first__black {
    color: #f8f0e4;
    cursor: default;
    margin: 0 auto;
    width: 50%;
    margin-top: 25px;
    font-family:'Grechen Fuemen', cursive;
    font-size: 47px;
}

.titles__last{
    cursor: default;
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
    color: #380066;
    font-family:'Gluten', cursive;
    font-size: 75px;
}

.titles__last__black {
    cursor: default;
    padding-top: 25px;
    margin: 0 auto;
    width: 80%;
    color: #f8f0e4;
    font-family:'Gluten', cursive;
    font-size: 75px;
}


.section {
    padding: 40px 0;
}

.title-info {
    width: 100%;
    height: 60vh;
    background-color: #802e88;
    display: block;
}

.title-info h2 {
    width: 30%;
    color: #ffff;
    padding: 20px;
}

.title-info p {
    width: 80%;
    padding: 0 30px;
    margin-top: 20px;
    color: #ffff;
    line-height: 3.0em;
    font-style: italic;
}

.title h2 {
    width: 10%;
    padding: 0 20px; 
}

.title ol {
    width: 100%;
    margin-left: 30px;
    line-height: 3.0em;
    font-style: italic;
}

.adapt {
    width: 80%;
}

.adapt__color {
    background-color: #ffff85;
}
.title-code h2 {
    width: 20%;
    padding: 0 20px; 
}

.title-work h2 {
    width: 20%;
    padding: 0 20px; 
}

.title-work p {
    width: 90%;
}

.work__project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 82px;
    gap: 2px 2px;
}

.work__project .work-item {
    display: block;
    width: 25%;
    transition: 0.4s ease-in;
}

.work__project .work-item:hover {
    transform: translate(0,-30px);
}

.icon__pro--museum {
    background-image: url("./assets/png/Mona.png");
    background-repeat: no-repeat;
    border-radius: 8%;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 100%;
    height: 35vh;
}

.icon__pro--momentum {
    background-image: url("./assets/png/momentum.png");
    background-repeat: no-repeat;
    border-radius: 8%;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 100%;
    height: 35vh;
}

.icon__pro--keyboard {
    background-image: url("./assets/png/Keys.png");
    background-repeat: no-repeat;
    border-radius: 8%;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 100%;
    height: 35vh;
}
.icon__pro--portfolio {
    background-image: url("./assets/png/Portfolio.png");
    background-repeat: no-repeat;
    border-radius: 8%;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 100%;
    height: 35vh;
}

.work__project .work-item h3 {
    width: 80%;
    position: static;
    margin-top: 20px;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #802e88;
    text-decoration: none;
    margin: 0 auto;
    padding-top: 20px;
}

.work__project .work-item p {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    color: #802e88;
    width: 90%;
    margin: 0 auto;
}

.title-education h2 {
    width: 10%;
    padding: 20px 20px; 
}

.title-education ul {
    margin-left: 30px;
    line-height: 3.0em;
    font-style: italic;
}

.title-english h2 {
    width: 20%;
    padding: 20px 20px;
}

.title-english p {
    width: 20%;
}

.title-contact h2 {
    width: 20%;
    padding: 20px 20px;
}

.title-contact p {
    width: 20%;
}

.page-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.school {
    background-image: url("./assets/img/rs_school_js.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: center;
    display: block;
    width: 15%;
    height: 5vh;
}

#menu__toggle, 
.menu__box {
    display: none;
}

.change__fone {
    position: fixed;
    top: 150px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: block;
    background-image: url("./assets/png/icons8-убывающий-месяц-48.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position-x: center;
    background-position-y: center;
    transition: all 0.2s;
    border-radius: 50%;
  -webkit-transition: -webkit-transform .7s ease-in-out;
          transition:         transform .7s ease-in-out;
}

.change__fone:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.dark__times {
    background-color: #1D262D;
    color: #f8f0e4;
}

.lite__times {
    background-color: #ffff85;
    color: #802e88;
}